## Week 1 Homework

In this homework we'll prepare the environment 
and practice with Docker and SQL


## Question 1. Knowing docker tags

Run the command to get information on Docker 

```docker --help```

Now run the command to get help on the "docker build" command

Which tag has the following text? - *Write the image ID to the file* 

- `--imageid string`
- `--iidfile string`
- `--idimage string`
- `--idfile string`



```Answer: --iidfile string ```  
```code: docker build --help | grep "Write the image"```

## Question 2. Understanding docker first run 

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash.
Now check the python modules that are installed ( use pip list). 
How many python packages/modules are installed?

- 1
- 6
- **3**
- 7

```
docker run -it --entrypoint=bash python:3.9

pip list

3 packages

Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
```


# Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from January 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [5]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0

In [7]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
print(pd.io.sql.get_schema(df, 'green_taxi', con=engine))

CREATE TABLE green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [27]:
df.head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.0,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1,NaN

In [28]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [33]:
print(pd.io.sql.get_schema(df, name='asdf'))

CREATE TABLE "asdf" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [29]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [39]:
%time
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs

1000

In [40]:
from time import time

In [41]:
while True:
    start = time()
    
    df = next(df_iter)
    
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    end = time()
    
    print(f'Another batch upload: time -> {end - start}')

Another batch upload: time -> 8.553876399993896
Another batch upload: time -> 8.408215999603271
Another batch upload: time -> 8.8715660572052
Another batch upload: time -> 8.164038896560669
Another batch upload: time -> 8.535388946533203
Another batch upload: time -> 3.156248092651367

StopIteration:

In [45]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [46]:
print(pd.io.sql.get_schema(df_zones, 'asdf'))

CREATE TABLE "asdf" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [48]:
df_zones.to_sql(con=engine, name='zones', if_exists='replace')

265

## Question 3. Count records 

How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 20689
- 20530
- 17630
- 21090

In [65]:
def select(query):
    return pd.read_sql(query, con=engine)

In [66]:
sql = '''
select count(1) from green_taxi_data t
where t.lpep_pickup_datetime >= '2019-01-15' and t.lpep_dropoff_datetime < '2019-01-16'
'''
select(sql)

   count
0  20530

## Question 4. Largest trip for each day

Which was the day with the largest trip distance
Use the pick up time for your calculations.

- 2019-01-18
- 2019-01-28
- 2019-01-15
- 2019-01-10

In [75]:
sql = '''
select t.lpep_pickup_datetime::date, max(trip_distance) from green_taxi_data t
where t.lpep_pickup_datetime::date = t.lpep_dropoff_datetime::date
group by 1
order by 2 desc
limit 1
'''
select(sql)

  lpep_pickup_datetime     max
0           2019-01-15  117.99

## Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?
 
- 2: 1282 ; 3: 266
- 2: 1532 ; 3: 126
- 2: 1282 ; 3: 254
- 2: 1282 ; 3: 274

In [80]:
sql = '''
select t.passenger_count, count(1)
  from green_taxi_data t
where t.lpep_pickup_datetime::date = '2019-01-01'
  and t.passenger_count in (2, 3)
group by 1
'''
select(sql)

   passenger_count  count
0                2   1282
1                3    254

## Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- South Ozone Park
- Long Island City/Queens Plaza

In [121]:
sql = '''
select z2."Zone" as destination_zone, max(gtd.tip_amount)
  from green_taxi_data gtd
       inner join zones z1
               on gtd."PULocationID" = z1."LocationID"
              and z1."Zone" = 'Astoria'
       inner join zones z2
               on gtd."DOLocationID" = z2."LocationID"
group by 1
order by 2 desc
limit 1
'''
select(sql)

                destination_zone   max
0  Long Island City/Queens Plaza  88.0


## Submitting the solutions

* Form for submitting: [form](https://forms.gle/EjphSkR1b3nsdojv7)
* You can submit your homework multiple times. In this case, only the last submission will be used. 

Deadline: 30 January (Monday), 22:00 CET


## Solution

We will publish the solution here